@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&family=Quicksand:wght@400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap');


*, *::before, *::after {
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: #222C2A;
}

h1, h2, h3, h4 {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  color: #3D4044;
  font-weight: 400;
  text-transform: capitalize;
}

section {
  padding: 50px 0;
  /* height: 80vh; */
}

img {
  max-width: 100%;
}

main {
  max-width: 1200px;
  margin: 0 auto;
}

.lh-green {
  color: #63C4C7;
}

.container{
  width: 95%;
  margin: 0 auto;
  max-width: 1200px;
  position: relative;
}

.header {
  background-color: #3D4044;
  color: #FAFAFA;
  max-width: 1200px;
  margin: 0 auto;
}

.row {
  padding: 0;
  margin: 0;
} 

.card-image {
  box-shadow: 10px 10px 8px #3d40448f;
}

.col h2 {
  margin-top: 20px;
}

.logo img {
  padding: 20px 0 0 20px;
}

.nav {
  width: 100%;
  visibility: hidden;
  height: 0;
  text-align: start;
  padding: 0 0 20px 20px;
}

.nav-item {
  list-style-type: none;
  padding: 8px 8px;
}

.nav-link {
  text-decoration: none;
  color: #FAFAFA;
  font-family: 'Quicksand', sans-serif;
  font-size: .9rem;
}

.active {
  font-weight: 700;
  padding-bottom: 2px;
  border-bottom: 2px solid #FAFAFA;
}

.nav-toggle {
  cursor: pointer;
  border: 0;
  width: 3em;
  height: 3em;
  padding: 0em;
  border-radius: 50%;
  background: #072A2D;
  color: white;
  transition: opacity 250ms ease;
  position: absolute;
  right: 5%;
  top: 60px;
}

.nav-toggle:focus,
.nav-toggle:hover {
  opacity: .75;
}

.hamburger {
  width: 50%;
  position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  display: block;
  margin: 0 auto;
  height: 3px;
  background: white;
}

.hamburger::before,
.hamburger::after {
  content: '';
  width: 100%;
}

.hamburger::before {
  transform: translateY(-6px);
}

.hamburger::after {
  transform: translateY(3px);
}

.nav--visible {
  visibility: visible;
  height: auto;
  position: relative;
} 

.btn {
  font-size: 1rem;
  border: none;
  border-radius: 25px;
  padding: 3px 10px 3px 10px;
  color: white;
  background-color: #1fa8ad;
}

.btn:hover, .btn:focus {
  outline: 2px solid black;
  background-color: #14cdd3;
}

.col {
  margin-top: 50px;
  width: 100%;
}

.card-image {
  border-radius: 25px;
  width: 100%;
}

.fade-in {
  opacity: 0;
  transition: opacity 250ms ease-in;
}

.fade-in.appear {
  opacity: 1;
}

/* Hero Section */

.hero {
  padding: 0;
  background-color: rgb(219, 219, 220);
  position: relative;
}

.swiper {
  height: 50vh;
  width: 100%;
  max-width: 1200px;
}
.swipper-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.swiper-slide {
  background-size:cover;
  background-position: center;
  overflow: hidden;
  font-size: 60px;
  color: #FAFAFA;
}

.swiper-zoom-container>img {
  display: block;
  width: 100%;
  object-fit: cover !important;
}

.hero-heading {
  color: #14cdd3;
  background-color: #3d40448f;
  font-size: 2.5rem;
  margin: 0 25%;
  text-transform: capitalize;
  padding: 20px;
  border-radius: 50px;
  text-align: center;
  position: absolute;
  top: 19vh;
  width: 50%;
  z-index: 10;
}

.section-title {
  font-size: 1.5em;
  background-color: #3d40448f;
  color: #FAFAFA;
  display: inline-block;
  padding: .7em;
  border-radius: 45px;
}

/* Who Section */
.who {
  text-align: center;
  background-color: rgb(219, 219, 220);
}

/* Services Section */

.services {
  text-align: center;
  background-color: lightblue;
}

.about {
  text-align: center;
  background-color: lightgoldenrodyellow;
}

.contact {
  text-align: center;
  background-color: lightslategrey;
}

footer {
  background-color: #3D4044;
  color: #FAFAFA;
  height: 30vh;
  max-width: 1200px;
  margin: 0 auto;
}

footer img {

}


@media only screen and (min-width: 850px) {
  
  .container {
    width: 90%;
  }

  .row {
    display: flex;
    /* justify-content: space-between; */
  }

  .col {
    width: 45%;
    padding: 0 5px;
  }

  .wrap {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .logo img {
    width: 500px;
    padding: 20px 0 20px 20px;
  }



  .nav-toggle {
    display: none;
  }

  .nav {
      visibility: visible;
      display: flex;
      justify-content: end;
      align-items: center;
      height: auto;
      padding: 0;
  }

  .nav-list {
    display: flex;

  }


}

@media only screen and (min-width: 1000px) {
  .nav-link {
    font-size: 1.1em;
  }
}